<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/960.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}js/cufon-yui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Adobe_Caslon_Pro_600.font.js"></script>
<script type="text/javascript">
	Cufon.replace('h1', {fontFamily: 'Adobe Caslon Pro', hover:true})
</script>
</head>
<body>
<div id='image' style='text-align:center; padding-top:100px;'>
    <img src='{{STATIC_URL}}images/logo.gif' style='width:500px;' />
</div>
<div class="container_8" id="content">
	<h1>Under Construction</h1>
	<h3>Welcome to Green Globe Realty. Our website is still under construction. In the meantime, you can...</h3>
	<div class="main">
		<div class="mcontent">
			<div class="box mr20">
				<h2>Contact us</h2>
				<p>+91 22 6940 4444<br/>
				<a href="mailto:info@greengloberealty.com">info@greengloberealty.com</a></p>
			</div>
			<div class="box mr20">
				<h2>Visit us</h2>
                <p>177 "Deokripa", Dr. D.N. Road,
				Fort, Mumbai-400001.</p>
			</div>
			<div class='box2'>
				<h2>Follow us</h2>
			</div>	
		</div>
	</div>
</div>
</body>
</html>
